#text,
#letter,
#pathTextCurved {
  pointer-events: none;
}

#letter {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 60px;
}

#textCurved {
  font-weight: 300;
  text-transform: uppercase;
}