.AboutMe__StatItem {
    border: solid 2px rgba(255, 241, 188, 0.489);
    padding: 30px 20px;
    border-radius: 40px;
}

.AboutMe__StatNumber {
    font-weight: 600;
}

.AboutMe__SkillBubble {
    border: solid 2px rgba(246, 237, 203, 0.719);
    padding: 3rem 3rem 0 3rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    max-height: 44rem;
  }
  
  .AboutMe__SkillBubble__Content {
    position: relative;
    z-index: 1;
  }
  
  .AboutMe__SkillBubble__ImageWrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .AboutMe__SkillBubble__Image {
    display: block;
    width: 100%;
    height: auto;
  }