.title-skills {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: all 400ms ease-in-out;
  text-align: center;
}

.bar {
  margin: 2em auto;
  display: flex;
  align-items: center;
}

.skill-name {
  font-size: 1em;
  text-transform: uppercase;
  margin-right: 1em;
  width: 100px;
  text-align: right;
}

.bar-outer {
  height: 1.5em;
  background: #eeeeee;
  position: relative;
  border-radius: 0.3em;
  flex-grow: 1;
}

.bar-inner {
  width: 0;
  height: 1.5em;
  border-radius: 0.3em;
  transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5em;
  color: #000;
  font-weight: 600;
  font-size: 1em;
}

.animate  {
  animation: bar-fill 4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}


@keyframes bar-fill {
  0% {
    width: 0;
  }
  100% {
    width: attr(width);
  }
}
.html.w-90 {
  background-image: linear-gradient(45deg, #e22222, #af4261);
}
  
.css.w-75 {
  background-image: linear-gradient(45deg, #ffd42b, #de530e);
}
  
.javascript.w-90 {
    background-image: linear-gradient(45deg, #fa7d6f, #dba504);
  }
  
.react.w-80 {
    background-image: linear-gradient(45deg, #f8a9a2, #ae50e0);
}
  
.typescript.w-70 {
    background-image: linear-gradient(45deg, #f24949, #f45100ac);
}
  
.nodejs.w-65 {
    background-image: linear-gradient(45deg, #ae50e0, #ff95bc);
}
  
.nextjs.w-85 {
    background-image: linear-gradient(45deg, #f67c90, #e4c180);
}