@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.MainSection {
    overflow: -moz-scrollbars-none;
    overflow: -webkit-scrollbar-none;
    scrollbar-width: none;
    scrollbar-color: transparent;
}




