@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

.MainSection {
    overflow: -moz-scrollbars-none;
    overflow: -webkit-scrollbar-none;
    scrollbar-width: none;
    scrollbar-color: transparent;
}

p[class*="Slogan"] {
  font-weight: 600;
  font-size: 5.25rem;
  line-height: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important; /* Change color based on theme*/
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}
